.bcbtn{width: 100%;
	float: left;
	padding: 15px 0px;}
	.bcbtn a {
	color: rgb(255, 255, 255);
	padding: 5px;
	margin-right: 1px;
	border-radius: 8px;
	background: rgb(1, 163, 2) none repeat scroll 0% 0%;
	}
	.dropbtn {
	border: none;
	background: transparent;
	cursor: pointer;
	}
	.dropdown {
	position: relative;
	display: inline-block;
	}
	.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 290px;
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
	z-index: 999999;
	left: 110px;
	top: 1px;
	border: 1px solid #d4d4d4;
	padding: 10px;
	}
	.dropdown-content:after{
	border: solid;
	border-color: transparent;
	border-width: 12px;
	content: "";
	left: -24px;
	position: absolute;
	z-index: 99;
	top: 8px;
	border-right-color: #fff;
	}
	.dropdown-content:before{
	border-width: 12px;
	content: "";
	left: -24px;
	position: absolute;
	z-index: 99;
	top: 8px;
	border-right-color: #d4d4d4;
	}
	.dropdown-content a {
	color: black;
	padding: 0px 16px !important;
	text-decoration: none;
	display: block;
	}
	.dropdown-content a:hover {background-color: #f1f1f1}
	.dropdown:hover .dropdown-content {
	display: block;
	}
	.dropdown:hover .dropbtn {
	}
	.form-inline {
	overflow: visible !important;
	width: 100%;
	}
	.dataTables_wrapper.no-footer {
	overflow: visible !important;
	}
	.sab-menu{
	display:none;
	position:relative;
	background-color: #f9f9f9;
	min-width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
	.main-menu li:hover .sab-menu {
	display: block;
	position: absolute;
	left: -379px;
	border: 2px solid #bdbaba;
	top: -2px;
	}
	.sab-menu:after{
	border: solid;
	border-color: transparent;
	border-width: 12px;
	content: "";
	right: -21px;
	position: absolute;
	z-index: 99;
	top: 0px;
	border-left-color: #fff;
	}
	.sab-menu:before{
	border: solid;
	border-color: transparent;
	border-width: 12px;
	content: "";
	right: -24px;
	position: absolute;
	z-index: 99;
	top: 1px;
	border-left-color: #bdbaba;
	}
	li{
	list-style:none;}
	ul{
	margin:0px;
	padding:0px;}
	.main-menu{
	margin:0px;}
	.main-menu li{
	position:relative;}